In [1]:
import pandas as pd

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df1 = pd.read_excel("FinManDBa.xlsx")
df2 = pd.read_excel("Restanti.xlsx")

In [3]:
df1.head()

,R,Nome,R_Mantra,Squadra_y,Tit,Quote,Predict,Predict STD,FinVal,Diff,Tot. (%),SpesaPer,SpesaM,SpesaDiff
0,C,DE ROON,M;C,Atalanta,0.8,9.0,5.669826,0.261288,11.139572,2.139572,3.55,10.65,24.896576,28.493153
1,C,ILICIC,T;A,Atalanta,0.9,24.0,6.337201,0.425234,18.698308,-5.301692,7.15,21.45,43.576834,44.253668
2,P,GOLLINI,Por,Atalanta,0.5,1.0,5.313893,0.173850,3.611983,2.611983,0.75,2.25,7.471043,10.442086
3,D,TOLOI,Dc,Atalanta,0.9,10.0,5.714318,0.272218,12.966398,2.966398,3.56,10.68,28.121203,34.882406
4,A,TUMMINELLO,Pc,Atalanta,0.5,7.0,5.580843,0.239428,6.068516,-0.931484,2.45,7.35,14.337028,13.974056

In [4]:
df2.head()

   TA     LJAJIC      Torino  16
0   A    THEREAU  Fiorentina  13
1   A      NIANG      Torino  12
2  MC  STROOTMAN        Roma  12
3  Pc   LAPADULA       Genoa  12
4  Pc    DIONISI   Frosinone  10

In [7]:
df = pd.merge(left=df1, right=df2, left_on="Nome", right_on="LJAJIC", how="right")

In [9]:
df = df.dropna()

In [12]:
df.to_csv("merged.csv", index=False, sep=",")